@import url(//stuff.webmaker.org/makerstrap/v0.1.7/makerstrap.complete.min.css);

html, body {
  background-color: #e3eaee;
}

#preview {
  overflow: hidden;
}

#previewFrame {
  width: 200%;
  height: 200%;
  margin-right: -100%;
  margin-bottom: -100%;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -ms-transform: scale(0.5);
  -ms-transform-origin: 0 0;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-shadow: 0 0 10px rgba(77, 78, 83, 0.6);
}
